{% extends "_base.html" %}

{% block content %}

<form role="form" method="POST" id="post-form" onsubmit="return false">
  <div class="form-group">
    <input type="text" class="form-control input-lg" name="image_url" placeholder="enter an image url..." required></center>
  </div>
  <button type="submit" class="btn btn-lg btn-block btn-success boom" id="search">Submit!</button>
</form>



<div class="row">
  <div class="col-md-6">
    <div id="results"></div>
  </div>

  <div class="col-md-6">   
    <div id="resultsData"></div>
</div>
</div>

<br><br>

<div class="row">
<div id="retry"><a href="" class="btn btn-lg btn-primary">Again?</a></div>
</div>

{% endblock %}